[user]
	email = rekarnar@gmail.com
	name = Adam Tombleson

[checkout]
    defaultRemote=origin

[push]
	default = simple

[credential]
	helper = cache --timeout=3000000

[pager]
	branch = false

[alias]
    stat = diff --stat -r

[status]
	branch = true
	showstash = true
	short = false	

[commit]
    gpgsign = true

[gpg]
    format = ssh
